@charset "utf-8";
/* CSS Document */

body
{
background-color:#FFF;	
margin:0 auto;
width:100%;
height:100%;

}
#container
{
margin:0 auto;
width:1200px;
height:700px;
background-color:#FFF;
	
}
#headerLog
{
margin:0 auto;
width:1100px;
height:180px;
background-image:url(../images/studentLogin/header_bg.jpg);
background-repeat:repeat-x;
border-bottom: 3px #666 solid;
box-shadow: 0px 3px  10px #000;
position:relative;
z-index:10;

}
#wrapper
{
margin:0 auto;
height:700px;
width:1200px;
display:block;
background-image:url(../images/studentLogin/CJCStudentLogin.jpg);
background-repeat:no-repeat;
}
#footerLogin
{
background-image:url(../images/studentLogin/footer_bg.jpg);
background-repeat:repeat-x;
height:100px;
width:1100px;
display:block;
position:relative;
border-top:#333 3px solid;
}
#LogoLeft
{
width:1100px;
height:200px;
float:left;
}
#LogoRight
{
height:200px;
width:400px;
display:block;
float:right;

}
#christLogo
{
width:352px;
height:159px;
float:left;
background-image:url(../images/studentLogin/Logo123.jpg);
background-repeat:no-repeat;
}
#KproLogo
{
	margin-top:60px;
	height:60px;
	width:400px;
	background-image:url(../images/studentLogin/krpoLogo.png);
	background-repeat:no-repeat;
}
#GlobeFooter
{
height:80px;
width:80px;
float:left;
margin-left:20px;
margin-top:-30px;
background-image:url(../images/studentLogin/globe.png);
background-repeat:no-repeat;
z-index:20;
}
#copyright
{
color:#000;
font-family:Verdana, Geneva, sans-serif;
font-weight:bold;
font-size:13px;
text-align:left;
padding-top:25px;
}
#LoginFormDiv
{
background-color:#CCC;
height:440px;
width:260px;
display:block;
z-index:999;
position:relative;
float:right;
margin-right:70px;
margin-top:180px;
border: #333 1px threedface;
 border-radius: 6px;
 -moz-box-shadow: 0 0 8px 3px #666;
-webkit-box-shadow: 0 0 5px 3px#666;
box-shadow: 0 0 8px 3px #666;
}
#LoginFormDiv a
{
	text-decoration:none;
	text-align:right;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;
	font-weight:100;
	padding-right:20px;
	padding-top:25px;
	font-style:italic;
}
#LoginFormDiv a:hover
{
	text-decoration:none;
	text-align:right;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#000;
	font-weight:100;
	font-style:italic;
	padding-top:25px;
	padding-right:20px;
}
#st_login
{
height:30px;
width:240px;
margin:0 auto;
margin-top:15px;
border: #333 1px solid;
border-radius: 3px;
background-color:#CCC;
box-shadow: inset 0 0 1em gray;
text-align:center;
font-size:16px;
font-weight:100;
font-family:Verdana, Geneva, sans-serif;
color:#000;
line-height:29px;
}
.text
{
border:solid 2px #e6b53a;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;	
height:20px;
width:140px;
margin-top:20px;
color:#666;
font-family:Verdana, Geneva, sans-serif;
font-weight:100;
font-size:14px;
}
.text:hover
{
border:solid 2px #00F;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;		
height:20px;
}
.password
{
border:solid 2px #e6b53a;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;	
height:20px;
width:140px;
margin-top:20px;
color:#666;
font-family:Verdana, Geneva, sans-serif;
font-weight:100;
font-size:14px;
}
.password:hover
{
border:solid 2px #00F;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;		
height:20px;

}
.buttonsubmit
{
	padding: 5px 5px;
   border: 1px solid #2B2727;
   background: -webkit-gradient(linear, left top, left bottom, from(#EBE6E6), to(#636161));
   background: -webkit-linear-gradient(top, #EBE6E6, #636161);
   background: -moz-linear-gradient(top, #EBE6E6, #636161);
   background: -ms-linear-gradient(top, #EBE6E6, #636161);
   background: -o-linear-gradient(top, #EBE6E6, #636161);
   background-color: #636161;
   box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #D1C5C5;
   -webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #D1C5C5;
   -moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #D1C5C5;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   width:80px;
   color: #FFF;
   font-size: 14px;
   font-family: Verdana, Geneva, sans-serif;
   text-decoration: none;
   font-weight: 100;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -o-transition: 0.2s;
   cursor: pointer;
   float:left;
   margin-left:25px;
}
.buttonsubmit:hover
{
	background: none;
   background-color: #636161;
   box-shadow: 0px 0px 5px 0px #AAAAAA;
   -webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
   -moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
   border: 1px solid #ffffff;
   color: #000;
}
.buttonreset
{
	padding: 5px 5px;
   border: 1px solid #2B2727;
   background: -webkit-gradient(linear, left top, left bottom, from(#EBE6E6), to(#636161));
   background: -webkit-linear-gradient(top, #EBE6E6, #636161);
   background: -moz-linear-gradient(top, #EBE6E6, #636161);
   background: -ms-linear-gradient(top, #EBE6E6, #636161);
   background: -o-linear-gradient(top, #EBE6E6, #636161);
   background-color: #636161;
   box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #D1C5C5;
   -webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #D1C5C5;
   -moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 3px #D1C5C5;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   width:80px;
   color: #FFF;
   font-size: 14px;
   font-family: Verdana, Geneva, sans-serif;
   text-decoration: none;
   font-weight: 100;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -o-transition: 0.2s;
   cursor: pointer;
   float:right;
   margin-right:25px;
   width:80px;
}
.buttonreset:hover
{
	 background: none;
   background-color: #636161;
   box-shadow: 0px 0px 5px 0px #AAAAAA;
   -webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
   -moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
   border: 1px solid #ffffff;
   color: #000;
}
.forgetPass a
{
	text-decoration:none;
	text-align:right;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;
	font-weight:100;
	position:relative;
	z-index:-99;
	
}
#News
{
height:150px;
text-align:left !important;
width:230px;
margin:0 auto;
margin-top:5px;
border: #333 1px solid;
border-radius: 4px;
background-color:#CCC;
box-shadow: inset 0 0 1em #666;
text-align:center;
font-size:16px;
padding-left:20px;
font-weight:100;
font-family:Verdana, Geneva, sans-serif;
color:#66ccff;
line-height:29px;
}